<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger"><%# pluralizeで単数形/複数形の変換 %>
      <%= @user.errors.count %> 個の入力エラーがあります。
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
